body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    color: #9d9292;
    padding: 10px 0;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #bab3b3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #0f82ab;
    margin-top: 0;
}

h2 {
    color: #666;
    margin-top: 20px;
}

p {
    margin-bottom: 20px;
    line-height: 1.6;
}

p, h2 {
    padding-left: 15px;
    padding-right: 15px;
}
